sub_filter '__BFF_URI' '${BFF_URI}';
sub_filter '__TOGGLES' '${TOGGLES}';
sub_filter '__AUTH0_DOMAIN' '${AUTH0_DOMAIN}';
sub_filter '__AUTH0_CLIENT_ID' '${AUTH0_CLIENT_ID}';
sub_filter '__AUTH0_CALLBACK_URI' '${AUTH0_CALLBACK_URI}';
sub_filter_once off;
sub_filter_types application/javascript;
