name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  setup:
    name: setup
    runs-on: ubuntu-latest
    env:
      TERM: xterm-256color
      BATECT_CACHE_TYPE: directory
      BATECT_ENABLE_TELEMETRY: true
    steps:
      - uses: actions/checkout@v2

      - name: Cache Batect
        uses: actions/cache@v2
        with:
          path: ~/.batect/cache
          key: batect-${{ hashFiles('batect') }}

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: .batect/caches
          key: batect-caches-${{ hashFiles('yarn.lock') }}

      - name: Download dependencies
        run: ./batect setup

      - name: Audit dependencies
        run: ./batect check-deps

      - name: Generate shared types
        run: ./batect server-codegen

      - name: Cache shared types
        uses: actions/cache@v2
        with:
          path: ./workspaces/server/src/resolvers-types.ts
          key: batect-caches-${{ hashFiles('./workspaces/server/src/resolvers-types.ts') }}

  build-client:
    name: build-client
    needs: [setup]
    runs-on: ubuntu-latest
    env:
      TERM: xterm-256color
      BATECT_CACHE_TYPE: directory
      BATECT_ENABLE_TELEMETRY: true
    steps:
      - uses: actions/checkout@v2

      - name: Cache Batect
        uses: actions/cache@v2
        with:
          path: .batect/caches
          key: batect-${{ hashFiles('batect') }}

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: .batect/caches
          key: batect-caches-${{ hashFiles('yarn.lock') }}

      - name: Cache shared types
        uses: actions/cache@v2
        with:
          path: ./workspaces/server/src/resolvers-types.ts
          key: batect-caches-${{ hashFiles('./workspaces/server/src/resolvers-types.ts') }}

      - name: Build/test/package
        run: ./batect client-ci

      - name: Upload image
        uses: ishworkh/docker-image-artifact-upload@v1
        with:
          image: "diary-client"

  build-server:
    name: build-server
    needs: [setup]
    runs-on: ubuntu-latest
    env:
      TERM: xterm-256color
      BATECT_CACHE_TYPE: directory
      BATECT_ENABLE_TELEMETRY: true
    steps:
      - uses: actions/checkout@v2

      - name: Cache Batect
        uses: actions/cache@v2
        with:
          path: ~/.batect/cache
          key: batect-${{ hashFiles('batect') }}

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: .batect/caches
          key: batect-caches-${{ hashFiles('yarn.lock') }}

      - name: Cache shared types
        uses: actions/cache@v2
        with:
          path: ./workspaces/server/src/resolvers-types.ts
          key: batect-caches-${{ hashFiles('./workspaces/server/src/resolvers-types.ts') }}

      - name: Lint code
        run: ./batect server-lint

      - name: Unit tests
        run: ./batect server-coverage

      - name: Build docker image
        run: ./batect server-package

      - name: Upload image
        uses: ishworkh/docker-image-artifact-upload@v1
        with:
          image: "diary-server"

  e2e:
    name: e2e
    needs: [build-client, build-server]
    runs-on: ubuntu-latest
    env:
      TERM: xterm-256color
      BATECT_CACHE_TYPE: directory
      BATECT_ENABLE_TELEMETRY: true

    steps:
      - uses: actions/checkout@v2

      - name: Download client image
        uses: ishworkh/docker-image-artifact-download@v1
        with:
          image: "diary-client"

      - name: Download server image
        uses: ishworkh/docker-image-artifact-download@v1
        with:
          image: "diary-server"

      - name: Cache Batect
        uses: actions/cache@v2
        with:
          path: ~/.batect/cache
          key: batect-${{ hashFiles('batect') }}

      - name: Cache NPM dependencies
        uses: actions/cache@v2
        with:
          path: .batect/caches
          key: batect-caches-${{ hashFiles('yarn.lock') }}

      - name: certificate
        run: ./batect client-cert

      - name: e2e
        run: ./batect e2e

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: screenshots
          path: e2e/test-results

  publish-client:
    name: publish-client
    needs: [e2e]
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download client image
        uses: ishworkh/docker-image-artifact-download@v1
        with:
          image: "diary-client"

      - name: Tag client image
        run: docker tag diary-client ghcr.io/jcartledge/diary-client:latest

      - name: Push client image
        run: docker push ghcr.io/jcartledge/diary-client:latest

  publish-server:
    name: publish-server
    needs: [e2e]
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download server image
        uses: ishworkh/docker-image-artifact-download@v1
        with:
          image: "diary-server"

      - name: Tag server image
        run: docker tag diary-server ghcr.io/jcartledge/diary-server:latest

      - name: Push server image
        run: docker push ghcr.io/jcartledge/diary-server:latest
